# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/image
/tmp
tmp/pids/server.pid

/node_modules
/yarn-error.log

.byebug_history
public/uploads/*


log/development.log

config/secrets.yml
