.announce チャットグループが作成されました。

.side-section
  .chat-user
    %h5 Yuko
    .chat-user__actions
      %a.chat-user__action
        %i.fa.fa-edit.fa-lg
      %a.chat-user__action
        %i.fa.fa-cog.fa-lg
  %ul.chat-group
    %li.chat-group__list
      %p.chat-group__name Sample
      %p.chat-group__comment hello!
    %li.chat-group__list
      %p.chat-group__name Sample
      %p.chat-group__comment よろしくお願いします
.chat-main
  .chat-header
    .chat-header--left
      %p.chat-header--group Sample
      %p.chat-header__users Member: Yuko neko
    .chat-header--right
      %a.chat-header__edit-btn{href:'/'} Edit
  .chat-body
    %ul.chat-comments
      %li.chat-comment
        %p.chat-comment__user Yuko
        %p.chat-comment__time 2019/01/05 00:00:00
        %p.chat-comment__message hello!
      %li.chat-comment
        %p.chat-comment__user neko
        %p.chat-comment__time 2019/01/06 00:00:00
        %p.chat-comment__message good night!
      %li.chat-comment
        %p.chat-comment__user Yuko
        %p.chat-comment__time 2019/01/07 00:00:00
        %p.chat-comment__message  hava a nice day!
  .chat-post
    %input.chat-post__text{type: "text", name: "text", placeholder:"type a message"}
      .chat-post__label
        %label
          %span.file-label
            %input#file{type: "file", name: "file"}
            %i.fa.fa-image.fa-lg
      %input.chat-send{type:"submit", value:"Send"}

